__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
local/
.gitmodules
wandb/
onelogger.log
onelogger.err

data/raw_data/*.jsonl
data/raw_data/*.parquet
data/raw_data/*.json
data/preprocessed_data/*.bin
data/preprocessed_data/*.idx